@import url('https://fonts.googleapis.com/css2?family=Lemonada&family=Montserrat:wght@300&display=swap');

body {
  font-size: 18px;
  font-family: "Lemonada", cursive "Montserrat", sans-serif ;
  max-width: 700px;
  margin: 0 auto;
}


header, footer {
  background-color: rgb(14, 200, 224);
  color: white;
  text-align: center;
  padding: 0.35rem;
  border-radius: 10px;
}

header {
  margin-top: 1rem;
  font-family:  "Lemonada" , cursive;
  font-size: 25px;
}

img {
  margin: 0.2rem;
  box-shadow: 0 8px 10px 0 rgb(207, 16, 16);
}

img {
  max-width: 130px;
  float: right;
  margin-top: -350px;
  border-radius: 0 10px 0 0;
  margin-right: 10px;
}

h1 {
  font-weight: normal;
  font-family: cursive;
}

h2 {
  font-family: cursive;
  border-bottom: 1.5px solid rgb(26, 154, 228);
}

footer {
  font-size: 1rem;
  padding-top: 1rem;
}

footer p {
    font-size: 1rem;
    color:rgb(226, 223, 12);
}