@import url("https://fonts.googleapis.com/css2?family=Lemonada&family=Montserrat:wght@300&display=swap");
body {
  font-size: 16px;
  font-family: "Lemonada", cursive "Montserrat", sans-serif;
  background-color: #F1DAC4;
}

/*--------------nav bar-------------*/

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #A69CAC;
  border-radius: 5rem;
  height: 70px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.138);
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.nav-links li {
  list-style-type: none;
}

.nav-links a {
  text-decoration: none;
  color: #161B33;
  transition: 0.3s ease;
}
.nav-links a:hover {
  color: rgb(71, 204, 180);
}
.plan {
  
  background-color: darkcyan;
  text-align: center;
  border-radius: 10rem;
}

/*--------------footer-------------*/

footer {
  background-color: rgb(14, 200, 224);
  color: white;
  text-align: center;
  padding: 0.35rem;
  border-radius: 15px;
}

footer {
  font-size: 1rem;
  padding-top: 1rem;
}

footer p {
  font-size: 1rem;
  color: rgb(226, 223, 12);
}

@media only screen and (max-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
