@import url("https://fonts.googleapis.com/css2?family=Lemonada&family=Montserrat:wght@300&display=swap");


body {
    font-family: "Lemonada", cursive "Montserrat", sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 20px;
    padding: 0.5em;
    background-color:  #a69cac ;

}
header {
    padding: .5rem 2%;
    background-color: #ffffff;
}

header img {float: left; margin-right: 10px; width: 50px;}
header h1 {margin: 0; font-size: 1.3rem; font-family: 'Rock Salt', cursive;}
header h2 {margin: 0; font-weight: normal; font-size: 1rem;} 

/*----------- NAVIGATION --------------*/
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: black;
}

nav {
    background: #3a506b;
    background: -moz-linear-gradient(top,  #3a506b 0%, #5bc0be 100%);
    background: -webkit-linear-gradient(top,  #3a506b 0%,#5bc0be 100%);
    background: linear-gradient(to bottom,  #3a506b 0%,#5bc0be 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a506b', endColorstr='#5bc0be',GradientType=0 );
    font-family: 'Gayathri';
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: white;
    padding: .5rem 2%;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}

nav ul li.active a {
    background-color: #6FFFE9;
    color: #848484;
}

nav ul li a:hover {
    background-color: #3A506B;
    color: white;
}

nav ul.hide {
    display: none;
}

/*----------- MAIN --------------*/
main {
    padding: .5rem 2%;
    min-height: 10rem;
    font-family: 'Gayathri';
}

main img.screen { 
    width: 480px;
}

main img.none { 
    width: 250px;
}

main section {
    font-family: 'Gayathri';
    padding: .5rem 2%;
    border: 1px #000000;
    margin: 10px 0;
    background: #5bc0be;
    background: -moz-linear-gradient(top,  #5bc0be 0%, #6fffe9 100%);
    background: -webkit-linear-gradient(top,  #5bc0be 0%,#6fffe9 100%);
    background: linear-gradient(to bottom,  #5bc0be 0%,#6fffe9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5bc0be', endColorstr='#6fffe9',GradientType=0 );
    font-size: 1.3rem;
}

/*----------- FOOTER --------------*/
footer {
    justify-content: center;
    display: flex;
    padding: .5rem 2%;
    text-align: center;
    color: #ffffff;
    background: #5bc0be;
    background: -moz-linear-gradient(top,  #5bc0be 0%, #3a506b 100%);
    background: -webkit-linear-gradient(top,  #5bc0be 0%,#3a506b 100%);
    background: linear-gradient(to bottom,  #5bc0be 0%,#3a506b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5bc0be', endColorstr='#3a506b',GradientType=0 );
    font-family: 'Gayathri';
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }