section {
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.imageGrid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

picture img[data-src] {
    filter: blur(0.1em);
  }
  
picture img {
filter: blur(0em);
transition: filter 0.5s;
}