@media only screen and (min-width: 550px) {
    
    img.shawna {
        float: right;
    }

.tours {
    display: flex;
    flex-direction: column;
}

.tours img {
    padding: 2%;
    margin: 0;
}

.ruins {
    width: 400px;
}@media only screen and (min-width: 35rem) {

    header {
        padding: 5px;
    }
    
    header img {
        width: 100px;
    }
    
    .headings h1 {
        font-size: 2rem;
        letter-spacing: .14rem;
    }
    
    .headings h2 {
        font-size: 1.2rem;
        letter-spacing: .08rem;
    }
    
    nav {
        display: flex;
    }
    
    nav button {
        display: none;
    }
    
    nav ul.hide {
        display: flex;
    }
    
    nav ul li {
       display: block;
       flex: 1 1 auto;
    }
    
    nav ul li a {
        border: none;
        border-right: 1px solid black;
        padding: .6rem 1rem;
        font-size: .78rem;
    }
    
    .weather {
        display: block;
        background: #5bc0be
    }
    
    .forecast {
        display: block;
    }
    .family {
        padding: 20px;
        max-width: 600px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .maps {
        display:block;
        margin-right:10px;
        width:50%;
        height:auto;
}

.maps img {
    width: 100%;
    margin: 2px;
}

.galleryWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div.gallery {
    margin: 20px;
}

.gallery:hover {
    box-shadow: 0 0 10px #60ebeb;
}
 

div.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

.cards div:nth-child(2) figure {
    grid-column: 1;
    grid-row: 1;
}
.cards div:nth-child(2) section {
    grid-column: 2;
}

}
    
    header h1 {
        font-size: 80px;
    }

    table thead tr th {
        font-size: xx-large;
    }

    table tbody tr th {
        font-size: large;
        padding: 5px;
}

.header2 .res {
    padding-right: 25px;
}

}