@media only screen and (min-width: 32.5em) {
  .navigation {
      display: flex;
  }
  .navigation li {
      display: block;
      flex: 1 1 auto;
  }
  .navigation a {
      text-align: center;
  }
  .navigation li:first-child {
      display: none;
  }
  
  .weather {
    display: block;
    background: #5bc0be
}

.forecast {
    display: flex;
    flex-direction: row;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
    margin: 10px auto;
}

.forecast div {
    display: grid;
    grid-template-columns: 1fr;
    width: 150px;
    text-align: center;
    background-color: #fff;
    padding: 0;
    margin: 2px;
    border: 1px black solid;
    border-radius: 10px;
}

.forecast div h5 {
    background: radial-gradient(white, #5bc0be, #3a506b);
    color: black;
    padding: 8px;
    margin: 1px;
    border-bottom: black 1px solid;
    border-radius: 10px 10px 0 0;
}

.forecast div img {
    margin: 7px auto;
    max-width: 5rem;
}
    
.forecast div span {
    margin: 7px auto;
}

.family {
    padding: 20px;
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.map {
    flex: 1.5;
}

.map img {
    width: 100%;
    margin: 2px;
}

} /*end medium */